
language: php


services:
  - mysql

before_script:
  - mysql -u root -e 'CREATE DATABASE bludata;'
  - mysql -u root bludata < $TRAVIS_BUILD_DIR/src/db/Setup/BluTableSetup.sql

script: phpunit $TRAVIS_BUILD_DIR/src/tests/UnitTest.php