.bg-modal {
	width: 100%;
	height:100%;
	background-color: #121212;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	width: 500px;
	height: 200px;
	background-color: #454545;
	border-radius: 4px;
	font-family: "Calibri";
	padding: 30px;
	position: relative;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	color: #454545;
	cursor: pointer;
}

h2 {
	color: white;
}

.no { background-color: #F5F2F; color: white; border: none; height: 40px; width: 150px; cursor: pointer;}
.no:hover {background-color: #333366;}
.yes { background-color: #800000; color: white; border: none; height: 40px; width: 150px; cursor: pointer;}
.yes:hover {background-color: #b30000;}


form {
	display: inline-block;
}

.a, .a:hover {
	text-decoration: none;
	color: #454545;
}

