.bg-modal {
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	width: 500px;
	height: 200px;
	background-color: white;
	border-radius: 4px;
	font-family: "Calibri";
	padding: 30px;
	position: relative;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	color: #ccc;
	cursor: pointer;
}


h2 {
	color: #1DA1F2;
}

.no { background-color: #1DA1F2; color: white; border: none; height: 40px; width: 150px; cursor: pointer;}
.no:hover {background-color: #36b0d9;}
.yes { background-color: #E00000; color: white; border: none; height: 40px; width: 150px; cursor: pointer;}
.yes:hover {background-color: #FF3232;}

form {
	display: inline-block;
}

.a, .a:hover {
	text-decoration: none;
	color: #ccc;
}
