*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Calibri";
}

img {
    max-width: 100%;
    max-height: 100%;
}


img.one {
    max-width: 150%;
    max-height: 150%;
}

body{

    background-color: #121212;
}

.FeedPage
{
    display: grid;
    background-color: #121212;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-areas:
    "header header header"
    ". main .";
    grid-row-gap: 25px;
}

.BluHeader
{
    grid-area: header;
    background-color: #000033;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "LeftSide Middle RightSide";
    padding: 10px;
}

#SearchTextField{
	display: inline-block;
	height: 100%;
	width: 100%;
}

.header-LeftSide
{
    grid-area: LeftSide;
}
.header-SearchBar
{
    grid-area: Middle;
}
.header-RightSide
{
    grid-area: RightSide;
    display: grid;
    grid-template-columns: 1fr 210px;
    grid-template-areas:
    "divider AccountHyperlinks";
}

.Icons{

}

.divider
{
    grid-area: divider
}
.AccountHyperlinks
{
    grid-area: AccountHyperlinks;
}

.Main
{
    grid-area: main;
    background-color: #121212;
    display:grid;
    grid-template-columns: 1fr 600px 300px 1fr;
    grid-template-areas:
    ". Posts Comments .";
    grid-column-gap: 0px;
}

.Comments
{
    border-radius: 5px;
    background-color: #454545;
    grid-area: Comments;
    display: grid;
    grid-template-rows: 45px 250px 80px;
    grid-template-areas:
    "PostInfo"
    "comments_wrap"
    "PostBottom";
}

.comments_wrap
{
    overflow: auto;
}

.Posts
{
    border-radius: 5px;
    background-color: #454545;
    grid-area: Posts;
    display: grid;
    grid-template-areas:
    "PostContent";
}

.PostInfo
{
    margin-top: 5px;
    margin-left: 5px;
    grid-area: PostInfo;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 45px 1fr 1fr;
    grid-template-areas:
    "Avatar Username follow"
    "Avatar TimeOfPost follow";
}

.CommentInfo
{
    margin-left: 5px;		
    grid-area: CommentInfo;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 45px 1fr;
    grid-template-areas:
    "Avatar Username"
    "Avatar TimeOfPost";
}

.comment_text
{
    grid-area: comment_text;
}

.Avatar{
    grid-area: Avatar;
    padding: 7.5px;
}
.follow
{
    grid-area: follow;
    line-height: 44px;
}
.Username{
    grid-area: Username;
    line-height: 33px;
    height: 27px;
}
.TimeOfPost
{
    grid-area: TimeOfPost;
    line-height: 5px;
    height: 5px;
}

.PostContent
{
    grid-area: PostContent;
    height: 1fr;
    width: 600px;
}


.PostBottom
{
    grid-area: PostBottom;
    display:grid;

}

button{
    border-radius: 5px;
}


.IconRectify{
    position: relative; 
    top: -7px;
}

.SearchBar{
    position: relative; 
    top: 6px;
    width: 90%; 
    height: 25px; 
    box-sizing: border-box; 
    border-radius: 5px;
}

.SearchBarButtons{
    position: relative; 
    top: 10px;
}

.RightBarButtons{
    position: relative; 
    top: -7px;
}


input[type=submit] {
    background:#000033; 
    border: none;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    border-radius: 5px; 
}

.one {
	border-radius: 5px;
	height:36px;
	width: 36px;
}