/*Author: Alya Naseer*/
.backgroundColor{
	background-color: white;
	width: 500px;
	height: 605px;
	margin: 10px;
	border: solid;
	border-width: 0.2px;
	border-color: #E1E8ED;
	position: relative;
	
}
.logoLogin{
	height:80px;
	width:130px;
	margin-top: 80px;
	margin-bottom: 20px;
}

.a, .a:hover {
	text-decoration: none;
	color: #ccc;
}

.close {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	color: #ccc;
	cursor: pointer;
}

body {margin: 0; background-color: #F5F8FA; font-family: "Calibri"}

input {	
	width:300px; 
	height: 30px; 
	padding: 5px; 
	background-color: #F5F8FA; 
	border-style: solid; 
	border-width: 0.2px; 
	border-color: #E1E8ED;
}

.button { background-color: #1DA1F2; color: white; border: none; height: 40px; width: 312px; cursor: pointer;}
.button:hover {background-color: #36b0d9}

a:hover {color: blue;}
a {text-decoration: underline; color: #1DA1F2}

.message {color: red; font-size: 15px}
.passwordRequirements {width: 307px; font-size: 15px;}