p {
	padding: 0 5px;
}

body{
	background-color: #F5F8FA;
}

#container_top{	
	font: Calibri;
	background-color: #1DA1F2;
	position: fixed;
	width: 100%;
	height: 75px;
	z-index: 1;
	top: 0;
	left: 0;
}

#container_sideL {
	font: Calibri;
	color: #1DA1F2;
	width: 160px;
	position: fixed;
	z-index: 0;
	top: 75px;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	box-shadow: 0px 5px 20px 1px gray;
	border-radius: 0px 0px 30px 0px;
}

#container_post{
	margin: auto auto;
	font: Calibri;
	min-width: 250px;
	max-width: 600px;	
	padding: 5px 0%;	
	font: Calibri;
	box-shadow: 0px 0px 20px 0px gray;				
}

.main {
	margin-top: 55px;
	margin-left: 160px;
	padding: 0px 10px;
	
	z-index: 0;
}

.post {
	display: block;
	margin: 0 auto;
	width: 75%;
	height: 75%;
}
